<div class="quiz card mt-4">
   
  <div class="card-body" [ngStyle]="{'opacity': isLoading ? '0.3' : '1' }">
    <div class="page">
      Question <b>{{questionNo}}</b> of <b>10</b>
    </div>
  <div class="question mt-4">
    <label>{{quizObject.ques}}</label>
  </div>
  <div class="options">
      <mat-radio-group class="example-radio-group" [(ngModel)]="selectedOption">
          <mat-radio-button class="example-radio-button" (change)="onSelectOption()" *ngFor="let opt of quizObject.options" value="{{opt}}" >
           {{opt}}
          </mat-radio-button>
    </mat-radio-group>
  </div>
  </div>
  <div class="spinner-border offset-6" *ngIf="isLoading"></div>
</div>

<div class="nav mt-4">
    <div class="row col-12" style="margin-left: 15px;">
        <div class="prev col-sm-2">
              <button class="btn btn-info" (click)="prevQuestion()" *ngIf="questionNo>1">Prev Question</button>
          </div>
          <div class="next col-sm-2 offset-8">
              <button class="btn btn-info" (click)="nextQuestion()" *ngIf="questionNo<10" [disabled]="selectedOption==null">Next Question</button>
          </div>
    </div>
   
  </div>

  <div class="submit offset-5 mt-5" *ngIf="noOfQuesAnswered==10">
    <button class="btn btn-success col-3" style="font-size: 20px;" (click)="onSubmit()">Submit</button>
  </div>